<nav class="bg-white shadow-md sticky top-0 z-40">
  <div class="w-full px-4">
    <div class="flex w-full overflow-x-auto md:overflow-visible py-2 text-sm md:text-base lg:text-lg">
      @if(isAdmin)
      {
      <a routerLink="/dashboard" routerLinkActive="active"
        class="nav-btn md:flex-1 text-center md:py-3 px-3 whitespace-nowrap">Dashboard</a>
      <a routerLink="/donations" routerLinkActive="active"
        class="nav-btn md:flex-1 text-center md:py-3 px-3 whitespace-nowrap">Donations</a>
      <a routerLink="/word-of-god" routerLinkActive="active"
        class="nav-btn md:flex-1 text-center md:py-3 px-3 whitespace-nowrap">Amanu</a>
      <a routerLink="/scheduling" routerLinkActive="active"
        class="nav-btn md:flex-1 text-center md:py-3 px-3 whitespace-nowrap">Scheduling</a>
      <a routerLink="/documents" routerLinkActive="active"
        class="nav-btn md:flex-1 text-center md:py-3 px-3 whitespace-nowrap">Documents</a>
      }
      @else
      {
      <a routerLink="/word-of-god" routerLinkActive="active"
        class="nav-btn md:flex-1 text-center md:py-3 px-3 whitespace-nowrap">Amanu</a>
      <a routerLink="/online-giving" routerLinkActive="active"
        class="nav-btn md:flex-1 text-center md:py-3 px-3 whitespace-nowrap">Online Giving</a>
      <a routerLink="/scheduling" routerLinkActive="active"
        class="nav-btn md:flex-1 text-center md:py-3 px-3 whitespace-nowrap">Scheduling</a>
      <a routerLink="/documents" routerLinkActive="active"
        class="nav-btn md:flex-1 text-center md:py-3 px-3 whitespace-nowrap">Documents</a>
      }
    </div>
  </div>
</nav>